.slide-edited-1  {
    height: 700px;

    width: 100%;
    max-width: 650px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(255, 0, 127);
    
    justify-content: center;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.tittle-third h1{
    text-align: center;
    color: #fff;
    padding-bottom: 0;
    padding-top: 16px;
    font-size: 20px;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.tittle-third p{
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
}

.text-first {
    border: solid #daa520;
    font-weight: normal;
    position: relative;
    top: 60px;
}

.text-secundary {
    border:solid #daa520;
    font-weight: normal;
    position: relative;
    top: 80px;
}

.text-third {
    border: solid #daa520;
    font-weight: normal;
    position: relative;
    top: 100px;
}

.tittle-third a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid rgb(64,224 ,208);
    background: none;
    margin-top: 2px;
    color: rgb(64,224 ,208);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
 
    display: flex;
    top: 170px;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.tittle-third a:hover {
    background: rgb(64,224 ,208);
    color: black;
}