body {
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    background-color: rgb(64,224 ,208);
    color: #333;
}

.slide {
    height: 600px;

    max-width: 650px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(255, 0, 127);
    
    justify-content: center;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1 {
    text-align: center;
    color: #fff;
    padding-bottom: 0;
    padding-top: 10px;
    font-size: 25px;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
}